.login-form {
	margin-top: 150px;
	}
/*	body {
	background: url(hoofdafbeelding.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    }*/
	span.glyphicon {
		padding-right: 5px;
	}
	button.btn {
		margin-bottom: 20px;
	}
	.form-group {
		color: #444444;
	}
	.editform {
		margin: 0 auto;
		width: 500px;
	}
	.projects {
		cursor: pointer;
	}
	.loginbackground {
		background-color: black;
		position: absolute;
		margin-left: -20px;
		margin-top: -90px;
		width: 390px;
		height: 320px;
		z-index: -99;
		border-radius: 25px;
		opacity: 0.4;
    	filter: alpha(opacity=40);
	}
	.borderline {
		border-bottom: 0px solid #444444;
		text-align: center;
		color: #000000;
	}
	.form-group {
		color: #444444;
	}
	.form-control {
		color: #444444;
	}
	.commentform {
		width: 500px;
	}
	.tablewidth {
		width: 500px;
	}
	.commentdate {
		float: right;
	}
	.tablebottom {
		border-bottom: 1px solid #DDDDDD;
	}
	.footerclass {
		margin: 0 auto;
		width: 1200px;
		margin-top: 50px;
		box-shadow: 5px 5px 5px 5px #DDDDDD;
	}