.login-form {
	margin-top: 150px;
}
body{
	background-image: url('hoofdafbeelding.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-repeat: no-repeat;
  }

	span.glyphicon {
		padding-right: 5px;
	}

	button.btn {
		margin-bottom: 20px;
	}
	.test123 {
		float: left;
	}
