.login-form {
	margin-top: 150px;
	}
body	{
	background: url(hoofdafbeelding.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

	span.glyphicon {
		padding-right: 5px;
	}

	button.btn {
		margin-bottom: 20px;
	}
	
	.form-group {
		color: #444444;
	}
	.editform {
		margin: 0 auto;
		width: 500px;
	}
	